
[data-theme ="dark"]{
  background-color: #282c34 !important;
  color: white;
  background: #282c34 !important;
  :where(.css-dev-only-do-not-override-1r287do).ant-layout{
    background: #282c34 !important
  }
  :where(.css-dev-only-do-not-override-1r287do).ant-avatar-lg.ant-avatar-square{
    background: white;
  }
  .form-control{
    background: #282c34 !important
  }
  .form-select{
    background: #282c34 !important
  }
  .form-select{
    color: white !important
  }
  .rw-multiselect-taglist{
    background: #282c34 !important
  }
  .bg-white{
    background: #282c34 !important

  }
  :where(.css-dev-only-do-not-override-1r287do).ant-table-wrapper .ant-table{
    background: #282c34 !important;
    color: white !important;

  }
  :where(.css-dev-only-do-not-override-1r287do).ant-table-wrapper .ant-table-thead >tr>th{
    background: #282c34 !important;
    color: white !important;
  }
  :where(.css-dev-only-do-not-override-1r287do).ant-table-wrapper td.ant-table-column-sort{
    background: #282c34 !important;
    color: white !important;
  }
  :where(.css-dev-only-do-not-override-1r287do).ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover{
    background:  white!important;
    color: #282c34 !important;
  }
  .darkou{
    color: white !important;

  }
}

.ant-layout{
    min-height: 100vh;
  }
  .demo-logo-vertical{
    height: 64px;
    
    
   
    /* background:#E9EDC9 !important ; */
  }
  .trigger{
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  
  }
  .trigger :hover{
    color : blue;
  }

  header{
  background-color: transparent !important;
 }
.ant-layout-header h5{
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p{
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header .badge{
  top: 16px;
  right: -6px;
}
main{
  overflow-y: scroll;
  background-color: transparent !important;
}
.btn1{
  float: right;
}
.error{
  color: red;
  margin-top: -20px; 
}
.btn3{
  float: left;
}
.error1{

  color: red;
}
.text-white{
  color: #8E7AB5 !important;
}
.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.ant-layout-sider-children{


  background-color : #B5C0D0 !important;
}


:where(.css-dev-only-do-not-override-1r287do).ant-menu-dark, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu{
  background: #CCD3CA !important;
}

:where(.css-dev-only-do-not-override-1r287do).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline{

  background: #F5E8DD !important;
}

.menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background-color: #EED3D9 !important;
}

  :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-item-selected{
  color: #8E7AB5 !important;
}

:where(.css-dev-only-do-not-override-1r287do).ant-menu-dark .ant-menu-item, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-item, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark .ant-menu-submenu-title, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-submenu-title {
  color: rgba(0, 0, 0, 0.65);
}

:where(.css-dev-only-do-not-override-1r287do).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background-color: #EED3D9;
}

.loading-container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100%; /* Ajustez la hauteur selon vos besoins */
}


.disabled {

text-decoration: #040404;


}
 
:where(.css-dev-only-do-not-override-1r287do).ant-menu-dark .ant-menu-item-disabled, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-item-disabled, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark .ant-menu-submenu-disabled, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-submenu-disabled {
  color: #8E7AB5 !important;
}
.crd2{
background-color: #D04848 !important;
}
.crd1{
  background-color: #65B741 !important;
  }
  .crd3{
    background-color: #FFB534 !important;
    }

    .text1 {
      color: white;
      display: flex; /* Utiliser flexbox */
      align-items: center; /* Centrer verticalement */
      justify-content: center; /* Centrer horizontalement */
      font-size: 24px; /* Changer la taille de la police */
  }

  .val1{
    color: red;
  }
  .val2{
    color: green;
  }

  .crd100{
    background-color: #A4CE95 !important;
   
    }
    .ant-card-head-title{
      color: white;
      display: flex; /* Utiliser flexbox */
      align-items: center; /* Centrer verticalement */
      justify-content: center; /* Centrer horizontalement */
      font-size: 24px; 
    }
    
    
   :where(.css-dev-only-do-not-override-1r287do).ant-menu .ant-menu-item-disabled, :where(.css-dev-only-do-not-override-1r287do).ant-menu .ant-menu-submenu-disabled {
    background: #E178C5 !important;
   }

   :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark .ant-menu-item-disabled, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-item-disabled, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark .ant-menu-submenu-disabled, :where(.css-dev-only-do-not-override-1r287do).ant-menu-dark>.ant-menu .ant-menu-submenu-disabled{
    color: #040404 !important;
   }

   .qr {
    width: 400px !important;
    height: 400px !important;
    margin: 0 auto; /* Ajoute des marges automatiques sur les côtés gauche et droit */
    
    justify-content: center; /* Centre horizontalement les éléments enfants */
    align-items: center; /* Centre verticalement les éléments enfants */
  }
  .bga-warning {
    background-color: red !important ;

}
.bgb-warning {
  background-color: green !important ;
  
}
.imga{
  width: 80px;
  height: auto;

}
.parent {
  border-bottom: 1px solid black; /* Définit une bordure noire en bas */
}
body{

  font-family: Roboto , sans-serif !important;

}
.vss {
  text-decoration: none; /* Supprime le soulignement */
  color: #551A8b;

}

.vss:hover {
  text-decoration: none; /* Optionnel : supprimer le soulignement au survol */
  color: #551A8b;

}
:where(.css-dev-only-do-not-override-1r287do) a{
  color: #551A8b;
}
:where(.css-dev-only-do-not-override-1r287do).ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover {
  background: #E178C5 ;
}